* {
  box-sizing: border-box;
}


body {
  background-color:#3d4045; 
}

.container {
  font-family: Arial, "Microsoft Yahei", sans-serif;
  font-size: 18px;
  border-radius: 8px;
  width: 800px;
  margin: 20px auto;
}

.menuitem {
    padding: 2px 8px;
}

.grouppanel {
  border-radius: 8px;
  background-color: white;
  margin: 1px 0;
  /* padding: 0 0 3px; */
}

.grouppanel+.grouppanel{
  margin-top: 4px;
}
.grouptitle {
  font-weight: bold;
  color: white;
  background-color: #69aa44;
  border-radius: 8px 8px 0 0;
  /* margin: 0 0 4px; */
  padding: 8px;
}

.titletext{
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;    
}

.crosspanel {
  padding: 5px;
  /* margin: 5px 0; */
  width: 100%;
}

.leftpanel, .rightpanel {
  padding: 0 2px;
  float: left;
  width: 50%;
}

.leftpanel {
  /* border-right: 1px solid #d5d5d5; */
}

.middlepanel{
  padding: 2px 1px;
  float: left;
  width: 33%;
}

.middlepanel+.middlepanel {
    margin-left: 4px;
}

.clearfix {
  clear: both;
}

label, input[type="text"]{
  display:inline-block;
  font-size: 18px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

.extend {
  float: right;
}

.extend a{
  color:white;
}

hr {
  border: 1px;
  margin: 1px 0;
  border-top: 1px solid #d5d5d5;
}

div.tabmenus {
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 0 !important;
  padding-bottom: 2px;
}

a.tabmenu {
  font-weight: bold;
}

.hidden {
  display: none;
}

img.icon{
  vertical-align:middle;
}