.list-head {
    margin: 0 2px;
    border-bottom: 1px solid #666;
}

.list-body {
    height: 350px;
    overflow: auto;
}

.list-member-row, .list-word-row {
    border: 2px solid white;
    margin: 2px 0;
}

.highlight {
    border: 2px solid #FF9800;
    border-radius: 5px;
}

.wrongword{
    background-color: #FF9800;
    border-radius: 3px;
    color: white;
}

.list-col {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 3px 0;
    padding: 0 3px;
}

.list-col input[type=checkbox] {
    width: initial;
    border: initial;
    margin: 0;
    padding: 0;
}

.list-col-word {
    width: 100px;
    margin-right:10px;
    padding: 0 5px;
}

.list-col-name {
    width: 100px;
}

.list-col-pos {
    width: 30px;
}

.list-col-turn {
    width: 40px;
}

.list-col-total {
    width: 60px;
}

.list-col-turn,
.list-col-total {
    text-align: right;
}

.list-col-def {
    width: 390px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
}