.list-head {
    margin: 5px 0;
    border-bottom: 1px solid #666;
}

.list-body {
    height: 320px;
    overflow: auto;
}

.list-row {
    margin: 5px 0;
}

.list-row+.list-row {
    border-top: 1px solid #e5e5e5;
}

.list-col {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 3px 0;
    padding: 0 3px;
}

.list-col input[type=checkbox] {
    width: initial;
    border: initial;
    margin: 0;
    padding: 0;
}

.list-col-name, .list-col-word {
    width: 120px;
}

.list-col-turn, .list-col-pos{
    width: 40px;
}

.list-col-total {
    width:60px
}

.list-col-turn, .list-col-total{
    text-align: right;
}

.list-col-def {
    width: 420px;
}
