{{#each ladders}}
<div class="middlepanel">
    <div class="grouppanel">
        <div class="grouptitle">
            <div class="titletext">{{title}}</div>
        </div>
        <div class="crosspanel">
            {{#each rank}}
            <div class="list-row">
                <div class="list-col list-col-icon"><img class="icon" src="img/medal-{{@index}}.png"></div>
                <div class="list-col list-col-name">{{name}}</div>
                <div class="list-col list-col-turn">{{number}}</div>
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}
<div class="clearfix"></div>
