<div class="grouppanel">
    <div class="grouptitle">
        <div class="titletext">{{title}}</div>
    </div>
    {{#each menus}}
    <div class="middlepanel">
        <div class="menuitem">
            <!--
            <div class="list-col list-col-icon"><img class="icon" src="img/{{image}}.png"></div>
            -->
            {{#if input}}<input type="text" id="jamdate">{{/if}}<div class="list-col"><label class="button" id="{{id}}">{{title}}</label></div>
        </div>
    </div>
    {{/each}}
    <div class="clearfix"></div>
</div>
